<header id="header">
    <div class="container">

      <h1><a href="/index">Abdul Rafay</a></h1>
      <h2>I'm a passionate <span> Software Engineer </span> from Pakistan</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="/index">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
          <li><a class="nav-link" href="#blog">Blogs</a></li>
          <li><a class="nav-link" href="/login">Login</a></li>

          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      <div class="social-links">
        <a href="https://twitter.com/abdul_rafay99" class="twitter"><i class="bi bi-twitter"></i></a>
        <!-- <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> -->
        <a href="https://www.instagram.com/abdul_rafay99/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/abdul-rafay-0ab626197/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/rafay99-epic" class="github"><i class="bi bi-github"></i></a>
      </div>

    </div>
  </header>