<div class="container p-3 my-3">
    <nav class="navbar navbar-expand-sm navbar-light bg-light ">
        <a href="#" class="navbar-brand">Abdul Rafay</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu" role="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link active text-dark">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active text-dark">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active text-dark">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active text-dark">Login</a>
                </li>
            </ul>
        </div>      
    </nav>
</div>