<div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resume</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Abdul Rafay</h4>
          <p><em>Innovative and deadline-driven Software Developer with 1 year of experience designing and developing user-centered digital applicationns from initial concept to final product, polished deliverable.</em></p>
          <p>
          <ul>
            <li>Portland par 127,Orlando, FL</li>
            <li>+92 3035650798</li>
            <li>99marafay@gmail.com</li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor in Software Engineering</h4>
          <h5>2018 - 2022</h5>
          <p><em>Captial University of Scieence and Technology, PK</em></p>
          <p>I have graduated from CUST with 3.0 GPA, with alot of pratice in multiple programming languages. The core vission of tmy University is <br>
            <em>"To be recognized as a leading institution for producing competent professionals who are instrumental in development of a prosperous society."</em>
          </p>
        </div>
        <div class="resume-item">
          <h4>College Degreee in Computer Sciences</h4>
          <h5>2016 - 2018</h5>
          <p><em>Punjab Group of Colleges, PK</em></p>
          <p>I got my College Degree in the year of 2018 with 70% Grades. The core mission of my college is: <br>
            <em>“At PGC we are not just means to education but a family that cares, grooms and helps unlock the true potential of our students. We are in a constant relentless pursuit to help provide a better future to our youth and build a society that is wise, intelligent and educated. Your trust in us motivates and inspires us to continue doing more so that you can shine in every aspect of your life.”</em>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Senior Desktop Application Developer</h4>
          <h5>2019</h5>
          <p><em>Octa Beast, Islamabad, PK </em></p>
          <p>
          <ul>
            <li>Lead in the design, development, and implementation of the Desktop Applications.</li>
            <!-- <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
            <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li> -->
            <li>Oversee the efficient use of production project budgets ranging from 2,000Rs - 25,000Rs</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Intership</h4>
          <h5>2019 - 2020</h5>
          <p><em>Innovation Teck, Islamabad, PK</em></p>
          <p>
          <ul>
            <li>Devloped Multiple Android Applications, Using Multiple Front-end Frameword and Back-End Technologies</li>
            <!-- <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li> -->
            <li>I was working on 5 projects or tasks at a given time while under pressure</li>
            <li>Recommended and consulted with clients on the most appropriate application Design</li>
            <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>  