<div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resu'me</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Abdul Rafay</h4>
          <p><em>Innovative and deadline-driven Software Developer with 1 year of experience designing and developing user-centered digital applicationns from initial concept to final product, polished deliverable.</em></p>
          <p>
          <ul>
            <li>Office: DHA-2 Islamabad</li>
            <li>+92 3035650798</li>
            <li>99marafay@gmail.com</li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor in Software Engineering</h4>
          <h5>2018 - 2022</h5>
          <p><em>Captial University of Science and Technology, PK</em></p>
          <p align="justify">It is my honor to being a part of one of the best University in the Country. I, never in the wildest of my dreams, could imagine myself being in that university. It was not on my radar list as I was a really average student throughout my school life who was interested in things which were not being taught at school (real life LOL!). I had my eyes set on a particular university and I had literally NO solid reason as to why I was eyeing only that university all this time.</p>
          <p align="justify">The campus of university is huge with stunning and beautiful garden where students and teachers can relax in their free time, The computer labs and Libiaries are always ready and in the environment to get the job done, There is great food, drinks and deserts in the cafeteria. </p>
          <p align="justify">With well experienced Professors, Lab Instructors are will to help the students to improve their studies.</p>
          <p align="justify">In this great learning and relaxing enviroment I got 3.0 CGPA in my 4 years of Degree.</p>
        </div>
        <div class="resume-item">
          <h4>College Degreee in Computer Sciences</h4>
          <h5>2016 - 2018</h5>
          <p><em>Punjab Group of Colleges, PK</em></p>
          <p>I got my College Degree in the year of 2018 with 70% Grades. A good colege where you can learn a lot about the feild of Computer Science and learn about the basic of the life as well. There are alot of lession that I learned from my college teachers and till this point I do use them and remember my Teachers.<br>
           
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Senior Desktop Application Developer</h4>
          <h5>2019</h5>
          <p><em>Octa Beast, Islamabad, PK </em></p>
          <p>
          <ul>
            <li>Lead in the design, development, and implementation of the Desktop Applications.</li>
            <li>Oversee the efficient use of production project budgets ranging from 2,000Rs - 25,000Rs</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Intership</h4>
          <h5>2019 - 2020</h5>
          <p><em>Innovation Teck, Islamabad, PK</em></p>
          <p>
          <ul>
            <li>Devloped Multiple Android Applications, Using Multiple Front-end Frameword and Back-End Technologies</li>
            <!-- <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li> -->
            <li>I was working on 5 projects or tasks at a given time while under pressure</li>
            <li>Recommended and consulted with clients on the most appropriate application Design</li>
            <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
          </ul>
          </p>
        </div>

        <div class="resume-item">
          <h4>Intership</h4>
          <h5>2022 - 2022</h5>
          <p><em>Shaigan Pharmaceuticals, PK</em></p>
          <p>In IT Department </p>
          <p>
          <ul>
            <li>Trouble Shooting</li>
            <li>configuration Of Servers</li>
            <li>Maintaining and Deploying Systems</li>
          </ul>
          </p>
        </div>

        <div class="resume-item">
          <h4>Junior Web Developer</h4>
          <h5>2022 - Now</h5>
          <p><em>Swam Technologies, NUST Islamabad</em></p>
          <p>
          <ul>
            <li>Currently I am working a Web Developer in Swam Technologies.</li>
            <li>My role include Problem Solving.</li>
            <li>Creating multiple Web Sites for various Clients.</li>
          </ul>
          </p>
        </div>

        <div class="resume-item">
          <h4>Certification</h4>
          <h5>2020-2021</h5>
          <p><em>Samsung Innovation Campus </em></p>
          <p>
          <ul>
            <li>I have completed the samsung innovation campus(SIC).</li>
            <!-- <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li> -->
            <li>In this certification I learned the basic and advanced comcepts of Machine Learning, Deep Learning.</li>
            <li>During this certification I have completed multiple projects and learned how to implement the Graphically Interface and Machine Learning.</li>
            <!-- <li>Created 4+ design presentations and proposals a month for clients and account managers</li> -->
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>  