<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Application Installer For Linux</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/portfolio/App/application Installer.png" alt="">
                </div>

              </div>
                    <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Applications</li>
              <li><strong>Client</strong>: Personal Project</li>
              <li><strong>Project date</strong>: March,19th 20222 </li>
              <li><strong>Project URL</strong>: <a href="https://github.com/rafay99-epic/Application-Installer">Github</a></li>
            </ul>

            <p>
              This is an application that can help a new linux user to install and config different applications.
            </p>
          </div>
        </div>

      </div>
    </div>

  </main>  
  
  <footer>
          <%- include('../credit/credit' ); %> 
          <%- include('../partials/footer'); %>
  </footer>
  

</body>

</html>