<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Routine Maintenance</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/portfolio/Script/Routine-Maintenance.png" alt="">
                </div>

                <!-- <div class="swiper-slide">
                  <img src="/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/portfolio/portfolio-details-3.jpg" alt="">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Script</li>
              <li><strong>Client</strong>: Personal Project</li>
              <li><strong>Project date</strong>: 20th March 2020</li>
              <li><strong>Project URL</strong>: <a href="">Github</a></li>
            </ul>

            <p>
              Using this script you can update your system using one command only. Set this script as the startup and then everytime you start your computer you can update every packages in your system.
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->

  <footer>
          <%- include('../credit/credit' ); %> 
          <%- include('../partials/footer'); %>
  </footer>
  

</body>

</html>