<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Smart Parking Assistant </h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/portfolio/Website/Smart-Parking-Assistant.png" alt="">
                </div>

                <!-- <div class="swiper-slide">
                  <img src="/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/portfolio/portfolio-details-3.jpg" alt="">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Web design</li>
              <li><strong>Client</strong>: Captial University of Science and Technology</li>
              <li><strong>Project date</strong>: 01 March, 2020</li>
              <li><strong>Project URL</strong>: <a href="https://github.com/rafay99-epic/Parking-Assistant">https://github.com/rafay99-epic/Parking-Assistant</a></li>
            </ul>

            <p>
              Using different IOT Compoents you can view live loaction of a parking spot on your phone or on the Website.
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->

  <footer>
          <%- include('../credit/credit' ); %> 
          <%- include('../partials/footer'); %>
  </footer>
  

</body>

</html>