<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Terminal Config</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/portfolio/Script/Terminal Config.png" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Script</li>
              <li><strong>Client</strong>: Personal Project</li>
              <li><strong>Project date</strong>: 20th March 2020</li>
              <li><strong>Project URL</strong>: <a href="">Github</a></li>
            </ul>

            <p>
              Linux Terminal for a useris to important, make it fast and beautiful so for this purpose I have designed and constructed this script that can make linux terminal more beautiful.
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->

  <footer>
          <%- include('../credit/credit' ); %> 
          <%- include('../partials/footer'); %>
  </footer>
  

</body>

</html>