<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">Space Hutting Game</h2>

            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/portfolio/App/Run-game.jpg" alt="">
                </div>

              </div>
                    <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Applications</li>
              <li><strong>Client</strong>: Personal Project</li>
              <li><strong>Project date</strong>: July,7th 2022 </li>
              <li><strong>Project URL</strong>: <a href="https://www.github.com/rafay99-epic/Floaty-Astronaut">Github</a></li>
            </ul>

            <p>
              This is a cross platform game, In this game a space man is lost in space and if did not reach his spaceship he can die.
            </p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main><!-- End #main -->

  <footer>
          <%- include('../credit/credit' ); %> 
          <%- include('../partials/footer'); %>
  </footer>
  

</body>

</html>