<div class="container">

    <div class="section-title">
        <h2>Services</h2>
        <p>My Services</p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Web Application Development</a></h4>
            <p>Using Different web technologies, I develop multiple webbase  applications.</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Android Application Development</a></h4>
            <p>With the power of Java programming Language, I can design beautiful and Purposefull Application for different customers.</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Linux Server & Administrator </a></h4>
            <p>Linux by nature is an Open Source Kernal and with different Scripting Langauage I can config, modify the exiting system to be best.</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">System Design</a></h4>
            <p>A System can be good without any documentation but if the power of documentation a System can be perfect. Using UML Diagram, Use Cases, Class Diagram and Domain model, or any kind of documentation a system can achieve a to Perfection.</p>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Graphic & Video Editing</a></h4>
            <p>In my feild of work where animation is everything, without animation you can make anything beautiful and with the power of blender and Video Editing I can design stunning Application in Multiple Tools.</p>
        </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href=""></a></h4>
            <p></p>
        </div>
        </div> -->

    </div>

    </div>