<!DOCTYPE html>
<html lang="en">
<head>
        <%- include('../partials/head'); %>
        <title>Dashboard </title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <h1>The page is rending</h1>


    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>