
 <div class="counts container">

  <div class="row">

  <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
      <div class="count-box">
      <i class="bi bi-journal-richtext"></i>
      <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
      <p>Open Source Projects</p>
      </div>
  </div>

  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
      <div class="count-box">
      <i class="bi bi-headset"></i>
      <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
      <p> Current Working Project</p>
      </div>
  </div>

  <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
      <div class="count-box">
      <i class="bi bi-award"></i>
      <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
      <p> Samsung Innovation Campus Certifications</p>
      </div>
  </div>

  </div>

</div>
