    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
      <h2>Interests</h2>
      </div>

      <div class="row">
      <div class="col-lg-3 col-md-4">
          <div class="icon-box">
          <i class="ri-macbook-line" style="color: #ffbb2c;"></i>
          <h3>Coding</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
          <i class="ri-book-read-line" style="color: #5578ff;"></i>
          <h3>Book Reading</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
          <i class="ri-windows-fill" style="color: #e80368;"></i>
          <h3>Testing Windows Systems</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
          <i class="ri-ubuntu-fill" style="color: #e361ff;"></i>
          <h3>Testinf Linux Operating System</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-database-2-line" style="color: #47aeff;"></i>
          <h3>Databases</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-steam-line" style="color: #ffa76e;"></i>
          <h3>Gaming</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-road-map-line" style="color: #11dbcf;"></i>
          <h3>Travelling</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-shopping-bag-line" style="color: #4233ff;"></i>
          <h3>Shopping</h3>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-spotify-line" style="color: #b2904f;"></i>
          <h3>Music</h3>
          </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-disc-line" style="color: #b20969;"></i>
          <h3>Moton Ideal</h3>
          </div>
      </div> -->
      <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-base-station-line" style="color: #ff5828;"></i>
          <h3>Networking</h3>
          </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
          <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
          <h3>Flavor Nivelanda</h3>
          </div>
      </div> -->
      </div>

  </div>
  <!-- End Interests -->
