<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Home Page</title>
</head>
<body>
     <header>
            <%- include('../partials/header'); %>
    </header> 
    <main>
        <section class="about" id="about">
            <% include('../partials/about/about'); %> 
            <% include('../partials/about/count'); %> 
            <% include('../partials/about/skills'); %>
            <% include('../partials/about/interest'); %> 
            <% include('../partials/about/testimonials'); %>
        </section>    
        <section class="resume" id="resume">

        </section>
        
    
    </main>
    <footer>
      //  <%- include('../partials/footer'); %>
    </footer>
      
</body>
</html>