
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv = "refresh" content = "4; url = /index" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="/css/loading.css">
  <title>Loading Screen</title>
</head>
<body>
  <div class="loading-screen"></div>
</body>
</html>