<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Blogs: Abdul Rafay</title>
</head>
<body>
    <main>

    </main>
    
    <footer>

    <footer>
        <%- include('../credit/credit' ); %> 
        <%- include('../partials/footer'); %>
    </footer>
    </footer>
</body>
</html>