<div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>My Works</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Scripts</li>
          <li data-filter=".filter-web">Web Apps</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">
      <!-- application Installer App -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/application Installer.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Application Installer</h4>
            <p>A application installer is a app that can be used to install different application for Linux Operating System.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/application Installer.png" class="  data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-apps-application-installer" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Smart Parking Assistant -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/Smart-Parking-Assistant.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Smart Parking Assistant</h4>
            <p>It's a web app and using IOT compoents the web app can display live parking Location.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/Smart-Parking-Assistant.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-web" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- One Power Web site -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/one-power.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>One Power Organization Website</h4>
            <p>Using the Backend and Template Technolgies I have created a stunning website for One Power Pvt.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/one-power.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="./one-power-detail" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Running Game App-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/Run-game.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Space Hunting Game</h4>
            <p>An astronaut lost in space, trying to reach his space-ship before his ship is destoryed.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/Run-game.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-apps-run-game" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Class Taker Bot-->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/class-bot-taker.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Online Class Taker Bot</h4>
            <p>This is a script that will launch your google chrome and then open teams and then join your class according to you time table</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/class-bot-taker.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-script-bot-class" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-details" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Virus kikker Game -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/Virus-Killer.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Virus Killer Game</h4>
            <p>A saviour is inside a human body killing all of the virus before it is too late.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/Virus-Killer.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-apps-virus-killer" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Script -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/Terminal Config.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Terminal Config</h4>
            <p>Any Terminal, It's kitty or Alacritty you can config the terminal the best way and with best feature.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/Terminal Config.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-script-terminal-config" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- System Routine -->
      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="/img/portfolio/Routine-Maintenance.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Routine Maintenance</h4>
            <p>It's a linux script that can update your system with just one command in linux.</p>
            <div class="portfolio-links">
              <a href="/img/portfolio/Routine-Maintenance.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-script-update-system" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="./portfolio-details" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div> -->

    </div>

  </div>